*{
    user-select: none;
    margin:0;
    padding:0;    
    text-align: center;
}
body{
    background-color: rgb(169, 155, 221);
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
main{
    position: relative;
    width: 80%;
    /* height: 90%; */
}
canvas{
    background: rgb(226, 224, 224);
    border: 1rem solid rgb(141, 190, 245);
    width:calc(100% - 2rem);
    /* height: 50%; */
}
#levelAndScore{
    top:1rem;
    width: 100%;
    position:absolute;
    display: flex;
    justify-content: space-between;
}

#score,#levelText{
    font-size: 1.5rem;
    color:rgb(42, 3, 78);
    margin-right: 1.8rem;
    margin-left: 1.2rem;
    /* position:absolute; */
}
#gameTitle{
    text-align: center;
    color:aqua;
}
/* @media(max-width:1000px){    
    canvas{
        background: rgb(226, 224, 224);
        border: 1rem solid rgb(31, 72, 119);
        width: auto;
        height: 50%;
    }
} */