* {
  margin: 0;
  padding: 0;
  user-select: none;
  /* overflow: hidden; */
}


main {
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  height: 99%;
  width: 98%;
  color: rgb(211, 135, 36);
  border: 1px solid black;
  color: rgb(89, 12, 133);
  box-shadow: 0 1.5px 5px 1px rgb(89, 12, 133);
  /* background: url("./img/happy.png"); */
  /* background-size: 22.5%; */
}
#rePlayButton {
  font-weight: bolder;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: absolute;
  bottom: 5%;
  font-size: 1.5rem;
  width: 6em;
  height: 6em;
  box-shadow: 0.12rem 0.15rem 0.0005rem -0.019rem rgb(0, 6, 10);
  border-radius: 50%;
  vertical-align: center;
  border: 5px solid rgb(71, 6, 66);
}
#finalScore,
#finalScoreText,
#updateScore {
  /* padding-bottom: 1em; */
  text-align: center;
  position: absolute;

}
#updateScore {
  font-size: 2em;
  width:97%;
  top: 0.5%;
  /* max-width: 385px; */
  padding: 0;
  background: white;
  color: rgb(89, 12, 233);
  box-shadow: 0 1.5px 2px 1px;
}

#finalScoreText {
  top: 15%;
  font-size: 3em;
}

#finalScore {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(122, 5, 60);
  top :25%;
  height: 10rem;
  font-size: 8rem;
  min-width: 20%;
  /* max-width: 100px; */
  
  /* background-clip: content-box; */
}

@media(min-width:500px){
    canvas{
        width: 400px;        
    }
    #updateScore{
      width:395px;
    }
}
