canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  color: white;
  text-align: center;
}

a {
  text-decoration: none;
  text-align: center;
}

a.hover-animate {
  position: relative;
  display: inline-block;
  overflow: hidden; /* Ensure the underline does not cause overflow */
}

a.hover-animate::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0; /* Adjusted to ensure the underline is within the element */
  left: 0;
  background-color: #007BFF; /* Change to your preferred color */
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a.hover-animate:hover::after {
  transform: scaleX(1);
}

hr {
  margin-left: 1%;
  width: 98%;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

#mainConatiner{
  position:absolute;
  z-index: 99;
}

@keyframes title-animation{
  0%{color:rgba(255, 255, 255, 0.25)}
  100%{color:rgba(255, 255, 255, 0.75); }
}

#titleName {
  color: white;
  font-size: 5em;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden; /* Ensure the underline does not cause overflow */
  margin-bottom: 10px; /* Adjust this value to decrease the gap */
}

#titleName:hover {
  color: #4a9eff;
  transform: scale(0.98);
}

#titleName::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4a9eff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

#titleName:hover::after {
  transform: scaleX(1);
}

#mainContainer {
  margin-left: 5%;
  width: 90%;
  margin-top: 5%;
}
#project{
  top:0;
  position: sticky;
  font-size:2.5em;
  background: rgb(12,12,24);
  margin-top: 10px; /* Adjust this value to decrease the gap */
}
.black{
  color:rgb(90, 14, 233);
}

#gamesAndApps {
  display: flex;
  align-items:stretch;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
  padding:10px;
}

#apps,#games{
 display: flex;
 flex-direction: column;
 align-items: center;
}

.apps {
  background-color: rgb(20, 20, 40);
  /* margin: 10px; */
  width: 100%;
  padding: 5px;
  margin-top: 15px;
  border: 1px solid rgb(56, 44, 44);
  border-radius: 20px;
  box-shadow: 0.1em 0.1em 0.1em 0.1em rgb(77, 73, 73);
}
.apps:hover{
  background-color: rgb(21, 21, 99);
}

img {
  margin-top: 10px;
  height: 72px;
  width: 72px;
  border-radius: 50%;
}

#bottomBar,#source {
  color: rgba(255, 255, 255, 0.25);
  position:fixed;

  bottom: 0;
  font-size: 1.5em;
  padding: 5px 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
#source{
  bottom:1.1em;
  font-size: 2em;
}

@media only screen and (max-width:512px){
#titleName{
  font-size: 4.5em;
}

  #mainContainer{
    width:98%;
    margin:1%;
    justify-content: space-evenly;
    height:80%;
    margin-bottom:6em;
    
  }
  #games,#apps{
    margin-top:1em;
  }
  .apps{
    padding-bottom: 0.5em;
    margin-top:1em;
    border-radius: 1em;
  }

  #gamesAndApps {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:stretch;
    margin-top: 1%;
    justify-content: space-evenly;
    font-size: 1.6em;
  }

  #bottomBar {
    font-size: 1em;
  }
#source{
  font-size:1.3em
}
}
